@import "tailwindcss";


::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body{
  background-color: rgb(246, 245, 245);
}
html {
  scroll-behavior: smooth;
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #797a7c; 
  border-radius: 9999px;
}

.custom-scroll {
  scrollbar-width: thin;       
  scrollbar-color: #a8a8a8 transparent;
}
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */ 
